
*{box-sizing: border-box;}
body{ margin:0;
  padding: 0;
 font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
  background: no-repeat; background-size: cover;
}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	/* text-align: center; */
	
}
	
/* Style the video: 100% width and height to cover the entire window */

 
.header-overlay{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 1;) 	
}

.header-content{
	z-index: 2;
	margin-top:20%;
	padding: 0rem 5rem;
	
}

section{text-align: center; font-size: 1.5rem;}

li {
    display: inline;
  }
  .hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(78, 78, 78, 0);
    transition-duration: .3s;
    transition-property:transform;
  }
    .navbar{
      text-align: center;
      float: none;
      display: inline-block;font-size: x-large; text-decoration-color: blue;
    }
  button {
    background-color: rgb(70, 5, 5);
    border: 0;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    font-weight: bold;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #login{
    color:rgb(255, 255, 255);
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: sticky;
  }
 
.cards-wrapper {
  display:grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 11rem;
  padding: 0.5rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.2;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 16em;
  width: 20em;
  font-size: 1 em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow:scroll;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}
.card:hover:before, .card:hover:after {
  transform: scale(1);
}

